.post {
  background: var(--color-paper);
  min-height: 100%;
  padding: var(--spacing-md);
}

.post__container {
  max-width: 600px;
  margin: 0 auto;
}

.post__title {
  font-size: 28px;
  margin-top: 4px;
  margin-bottom: var(--spacing-lg);
}

.post__back {
  margin-top: var(--spacing-md);
}

@media (min-width: 768px) {
  .post {
    padding: var(--spacing-xl);
  }
}
